# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

#.env

.env

#scripts
updatevps.sh
push.sh

#large files
bg.mp4
homevideo.mp4
intro-to-honors.mp4
meeting-with-advisors.mp4
myths-and-faqs.mp4
tour-with-spencer-magleby.mp4

