<div>
  <hero v-bind:hero="stories[0]" v-if="stories[0]"></hero>
  <div class="container">

    <h1 class="py-4">Latest Stories</h1>
    <div class="card-deck">
      <a class="card border-0" v-if="stories[1]" v-bind:href="stories[1].link">
        <img class="card-img-top" v-bind:src="stories[1].image_path" v-bind:alt="stories[1].subtitle">
        <div class="card-body">
          <h5 class="card-title">{{stories[1].title}}</h5>
          <p class="card-text">{{stories[1].description}}</p>
        </div>
        <div class="card-footer border-0 bg-transparent">
          <small class="text-muted">{{stories[1].created | formatDate}}</small>
        </div>
      </a>

      <a class="card border-0" v-if="stories[2]" v-bind:href="stories[2].link">
        <img class="card-img-top" v-bind:src="stories[2].image_path" v-bind:alt="stories[2].subtitle">
        <div class="card-body">
          <h5 class="card-title">{{stories[2].title}}</h5>
          <p class="card-text">{{stories[2].description}}</p>
        </div>
        <div class="card-footer border-0 bg-transparent">
          <small class="text-muted">{{stories[2].created | formatDate}}</small>
        </div>
      </a>

      <a class="card border-0" v-if="stories[3]" v-bind:href="stories[3].link">
        <img class="card-img-top" v-bind:src="stories[3].image_path" v-bind:alt="stories[3].subtitle">
        <div class="card-body">
          <h5 class="card-title">{{stories[3].title}}</h5>
          <p class="card-text">{{stories[3].description}}</p>
        </div>
        <div class="card-footer border-0 bg-transparent">
          <small class="text-muted">{{stories[3].created | formatDate}}</small>
        </div>
      </a>

    </div>
    <div class="text-muted text-right mt-3">
      <router-link to="/stories" class="text-muted">See all stories</router-link>
    </div>
  </div>
</div>
